<div class="px-10 border-r-2 border-l-2 border-b-2 border-gray-400 pt-10 pb-10">
  <h1 class="font-bold text-4xl pb-6">¡Hola! 👋</h1>
  <p class="text-lg pb-2">
    Soy María, y he creado esta web como parte de mi proceso de aprendizaje con
    Angular 17.
  </p>
  <p class="text-lg">
    Si quieres ver todo lo que hago, te dejo el acceso a mi portfolio:
  </p>
  <button
    class="inline-flex bg-purple-600 text-white hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blues-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
  >
    <a target="_blank" href="http://soymarialoherr.com">Ver portfolio</a>
  </button>
</div>
