<div class="flex space-x-4 pt-5 pb-5 border-r-2 border-l-2 border-black">
  <div class="w-80 pl-1">
    <ul>
      <li><a routerLink="/">All categories</a></li>
      @for (category of categories(); track category.id) {
      <li>
        <a routerLink="/" [queryParams]="{ category_id: category.id }">{{
          category.name
        }}</a>
      </li>
      }
    </ul>
  </div>
  <div
    class="grid lg:grid-cols-4 gap-8 w-full sm:grid-cols-1 md:grid-cols-2 pr-1"
  >
    @for (product of products(); track product.id) {
    <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>
</div>
