<section class="bg-purple-300 h-screen w-screen p-10">
  <div class="py-8 px-4 mx-auto">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600"
      >
        Oops!
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl"
      >
        Algo salió mal.
      </p>
      <figure>
        <img src="assets/gato-it.jpg" alt="" />
      </figure>
      <p class="mb-4 text-lg font-bold text-white">
        Parece que la ruta que buscas, no existe (todavía)
      </p>
      <a
        routerLink="/"
        class="inline-flex bg-purple-600 text-white hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-blues-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
        >Volver a Home</a
      >
    </div>
  </div>
</section>
